---
slug: product-blanc
---

{% content_for 'canonical' %}product-blanc{% endcontent_for %}


  <main role="main" class="lune-page lune-page-product md-col-9 mx-auto">
    <!-- Scroll indicator -->
  <aside class="lune-component-scroll-indicator caps bold flex flex-column items-center h7 m0 fixed bottom-0 left-0 col-12 md-mt2"><p>Scroll</p></aside>
    <!-- This div is used to hide the scroll indicator when scrolling past the first viewport -->
    <div class="lune-background absolute right-0 bottom-0 left-0"></div>
        <header class="lune-product-section lune-product-section-hero relative z1 flex">
          <div class="lune-hero-content col-12 md-mt0 flex flex-column items-center justify-center">
  <h1 class="lune-product-title" aria-label="BLANC">
    <span class="relative block caps m0 px3 md-p0 z1 lune-anim-move-up lune-title-has-mobile-hyphen">BLA</span>
      <span class="block caps m0 relative px3 md-p0 z4 lune-anim-move-up">NC</span>
  </h1>

            <!-- @aghassemi please replace this fixed image with the scroll-bound animation for the rotating chair. -->
              <figure class="lune-hero-image-wrapper z3 flex justify-center col-12 m0">
                <!-- WebP image -->
                <amp-img class="lune-anim-scale-up lune-hero-image z2 col-7 md-mt0" alt="Lune Blanc" srcset="{{ 'product-hero-blanc@1x.webp' | asset_url }},  {{ 'product-hero-blanc@2x.webp' | asset_url }} 2x" width="706" height="1134" layout="responsive">
                    <!-- PNG Fallback when WebP is not supported -->
                    <amp-img fallback="" class="lune-anim-scale-up" alt="Lune Blanc" srcset="{{ 'product-hero-blanc@1x.png' | asset_url }}, {{ 'product-hero-blanc@2x.png' | asset_url }} 2x" width="706" height="1134" layout="responsive">
                    </amp-img>
                </amp-img>
              </figure>
          </div>

          <!-- Chapter indicators -->
    <aside class="lune-chapter-name h7 center xs-hide sm-hide absolute caps bold"><span class="block">Overview</span></aside>
    <aside class="lune-chapter-number h7 center flex flex-column justify-between absolute xs-hide sm-hide bold"><span class="block">1</span> <span class="block">4</span></aside>
        </header>

        <section class="lune-product-section lune-product-section-intro relative flex flex-column items-end justify-center p3 z2">
          <div class="col-12 md-col-5 lg-col-4">
            <h2 class="lune-product-section-title mb2 caps h4 md-h0">Lune Blanc</h2>

              <p class="lune-product-body h5 mb2">The simplicity of Lune’s form belies the attention to detail in its construction. A clean silhouette unifies the chair’s armrests and curved back into a single flowing line, while the wooden base provides functional support and adds a textural counterpoint.</p>


          </div>

          <!-- Chapter indicators -->
    <aside class="lune-chapter-name h7 center xs-hide sm-hide absolute caps bold"><span class="block">Philosophy</span></aside>
    <aside class="lune-chapter-number h7 center flex flex-column justify-between absolute xs-hide sm-hide bold"><span class="block">2</span> <span class="block">4</span></aside>

        </section>


        <section class="lune-product-section relative flex flex-column justify-center p3">
          <h2 class="lune-product-section-title caps h4 mb2 flex items-center lune-line-after md-hide lg-hide">Specs</h2>

          <p class="lune-product-body h5 mb4 md-hide lg-hide"> Designed to last a lifetime, Lune is crafted from a one-piece polypropylene shell and a molded oak base.</p>

          <ul class="p0 m0">
              <li class="flex items-end pb3 md-py2">
                <span class="lune-product-details-title h6 md-h4 caps">Height</span>
                <div class="lune-product-details-divider mx1"></div>
                <span class="lune-product-details-figure h6 md-h3 caps">81</span>
                <span class="lune-product-details-unit h6 md-h4 caps">cm</span>
              </li>
              <li class="flex items-end pb3 md-py2">
                <span class="lune-product-details-title h6 md-h4 caps">Width</span>
                <div class="lune-product-details-divider mx1"></div>
                <span class="lune-product-details-figure h6 md-h3 caps">45</span>
                <span class="lune-product-details-unit h6 md-h4 caps">cm</span>
              </li>
              <li class="flex items-end pb3 md-py2">
                <span class="lune-product-details-title h6 md-h4 caps">Depth</span>
                <div class="lune-product-details-divider mx1"></div>
                <span class="lune-product-details-figure h6 md-h3 caps">55</span>
                <span class="lune-product-details-unit h6 md-h4 caps">cm</span>
              </li>
              <li class="flex items-end pb3 md-py2">
                <span class="lune-product-details-title h6 md-h4 caps">Seat Height</span>
                <div class="lune-product-details-divider mx1"></div>
                <span class="lune-product-details-figure h6 md-h3 caps">41</span>
                <span class="lune-product-details-unit h6 md-h4 caps">cm</span>
              </li>
          </ul>

          <!-- Chapter indicators -->
    <aside class="lune-chapter-name h7 center xs-hide sm-hide absolute caps bold"><span class="block">Specifications</span></aside>
    <aside class="lune-chapter-number h7 center flex flex-column justify-between absolute xs-hide sm-hide bold"><span class="block">3</span> <span class="block">4</span></aside>
        </section>

        <section class="relative p3 z1 lune-section-materials">
          <h2 class="lune-product-section-title caps h4 mb2 flex items-center lune-line-after md-hide lg-hide">Materials</h2>


            <div class="flex flex-column ">
                <h3 class="product-material-name relative caps z2 lune-product-material-name-oak h1 sm-h0 md-h00 pl3 mt1 sm-mt3 md-pl0">Oak</h3>


                <figure class="relative lune-product-material-image-oak-1 col-11 sm-col-8 md-col-6 md-p2 m0">
                  <!-- WebP image -->
                  <amp-img alt="Oak" srcset="{{ 'product-materials-blanc-oak-1@1x.webp' | asset_url }}, {{ 'product-materials-blanc-oak-1@2x.webp' | asset_url }} 2x" width="561" height="656" layout="responsive">
                      <!-- PNG Fallback when WebP is not supported -->
                      <amp-img fallback="" alt="Oak" srcset="{{ 'product-materials-blanc-oak-1@1x.jpg' | asset_url }}, {{ 'product-materials-blanc-oak-1@2x.jpg' | asset_url }} 2x" width="561" height="656" layout="responsive">
                      </amp-img>
                  </amp-img>

                </figure>


                <figure class="relative lune-product-material-image-oak-2 col-10 sm-col-8 md-col-6 md-p2 self-end m0">
                  <!-- WebP image -->
                  <amp-img id="oak" alt="Oak" srcset="{{ 'product-materials-blanc-oak-2@1x.webp' | asset_url }}, {{ 'product-materials-blanc-oak-2@2x.webp' | asset_url }} 2x" width="500" height="785" layout="responsive">
                      <!-- PNG Fallback when WebP is not supported -->
                      <amp-img fallback="" alt="Oak" srcset="{{ 'product-materials-blanc-oak-2@1x.jpg' | asset_url }}, {{ 'product-materials-blanc-oak-2@2x.jpg' | asset_url }} 2x" width="500" height="785" layout="responsive">
                      </amp-img>
                  </amp-img>

                    <a href="product-material-oak" class="lune-product-hotspot ampstart-btn ampstart-btn-secondary absolute z1 inline-block flex items-center justify-center center overflow-hidden caps h7 lune-product-hotspot-oak lune-theme-dark">
                      <span class="relative block z3">More</span>
                    </a>
                </figure>


            </div>


            <div class="flex flex-column product__materials--poly">
                <h3 class="product-material-name relative caps z2 sm-hide md-hide lg-hide lune-product-material-name-poly h1 sm-h0 md-h0 lg-h00">
                    <span class="block">POLY-</span>
                    <span class="block">-PROP-</span>
                    <span class="block">-YLENE</span>
                </h3>

                <h3 class="product-material-name relative caps z2 xs-hide lune-product-material-name-poly h1 sm-h0 md-h0 lg-h00">
                    <span class="block">POLYPR-</span>
                    <span class="block">-OPYLENE</span>
                </h3>


                <figure class="relative lune-product-material-image-poly col-11 md-col-6 self-center m0">
                  <!-- WebP image -->
                  <amp-img id="polypropylene" alt="Polypropylene" srcset="{{ 'product-materials-blanc-poly@1x.webp' | asset_url }}, {{ 'product-materials-blanc-poly@2x.webp' | asset_url }} 2x" width="563" height="785" layout="responsive">
                      <!-- PNG Fallback when WebP is not supported -->
                      <amp-img fallback="" alt="Polypropylene" srcset="{{ 'product-materials-blanc-poly@1x.jpg' | asset_url }}, {{ 'product-materials-blanc-poly@2x.jpg' | asset_url }} 2x" width="563" height="785" layout="responsive">
                      </amp-img>
                  </amp-img>

                    <a href="product-material-polypropylene" class="lune-product-hotspot ampstart-btn ampstart-btn-secondary absolute z1 inline-block flex items-center justify-center center overflow-hidden caps h7 lune-product-hotspot-poly lune-theme-dark">
                      <span class="relative block z3">More</span>
                    </a>
                </figure>


            </div>


          <!-- Chapter indicators -->
    <aside class="lune-chapter-name h7 center xs-hide sm-hide absolute caps bold"><span class="block">Materials</span></aside>
    <aside class="lune-chapter-number h7 center flex flex-column justify-between absolute xs-hide sm-hide bold"><span class="block">4</span> <span class="block">4</span></aside>

        </section>


      <div class="lune-title-bottom relative xs-hide sm-hide">
  <h1 class="lune-product-title" aria-label="BLANC">
    <span class="relative block caps m0 px3 md-p0 z1 lune-anim-move-up lune-title-has-mobile-hyphen">BLA</span>
      <span class="block caps m0 relative px3 md-p0 z4 lune-anim-move-up">NC</span>
  </h1>
      </div>

      <div class="lune-products-bottom-cta relative z1 flex justify-center">
  <a href="store" class="ampstart-btn ampstart-btn-secondary relative inline-block overflow-hidden caps h7 center lune-theme-light lune-transparent">
    <span class="relative block z3">Visit us</span>
  </a>
      </div>

  </main>
