---
slug: product-material-polypropylene
---

{% content_for 'canonical' %}product-material-polypropylene{% endcontent_for %}


  <main role="main" class="lune-overlay">
      <header class="lune-overlay-hero relative flex items-center justify-center overflow-hidden mx2 mt2 sm-m0">

          <figure class="lune-overlay-hero-image absolute left-0 m0 col-12">

              <!-- Mobile -->
              <!-- WebP -->
              <amp-img alt="Moulded Seat" srcset="{{ 'overlay-poly-hero-mobile@1x.webp' | asset_url }}, {{ 'overlay-poly-hero-mobile@2x.webp' | asset_url }} 2x" layout="responsive" width="1250" height="2135" media="(max-width: 719px)">
                <!-- Fallback when WebP is not supported -->
                <amp-img fallback="" alt="Moulded Seat" srcset="{{ 'overlay-poly-hero-mobile@1x.jpg' | asset_url }}, {{ 'overlay-poly-hero-mobile@2x.jpg' | asset_url }} 2x" layout="responsive" width="1250" height="2135"></amp-img>
              </amp-img>

              <!-- Desktop -->
              <!-- WebP -->
              <amp-img alt="Moulded Seat" srcset="{{ 'overlay-poly-hero-desktop@1x.png' | asset_url }}, {{ 'overlay-poly-hero-desktop@2x.png' | asset_url }} 2x" layout="responsive" width="2642" height="1617" media="(min-width: 720px)">
                <!-- Fallback when WebP is not supported -->
                <amp-img fallback="" alt="Moulded Seat" srcset="{{ 'overlay-poly-hero-desktop@1x.png' | asset_url }}, {{ 'overlay-poly-hero-desktop@2x.png' | asset_url }} 2x" layout="responsive" width="2642" height="1617"></amp-img>
              </amp-img>
          </figure>

        <div class="relative z1 center">
          <h1 class="lune-overlay-hero-title h3 md-h0 mb4 mx-auto col-10 caps lune-anim-move-up">Moulded Seat</h1>

          <!-- Meet the makers CTA -->
  <a href="#" class="ampstart-btn ampstart-btn-secondary relative inline-block overflow-hidden caps h7 center lune-anim-move-up lune-theme-light lune-transparent">
    <span class="relative block z3">Meet the makers</span>
  </a>
        </div>
      </header>

      <section class="lune-overlay-content relative col-12 mx-auto flex flex-column p2 md-p0">
        <div class="col-1 flex-none xs-hide sm-hide"></div>
          <figure class="relative col-12 md-col-5 flex-none m0">
              <!-- Mobile -->
              <!-- WebP -->
              <amp-img alt="Oak" srcset="{{ 'overlay-poly-1-mobile@1x.webp' | asset_url }}, {{ 'overlay-poly-1-mobile@2x.webp' | asset_url }} 2x" layout="responsive" width="1250" height="1845" media="(max-width: 719px)">
                <!-- Fallback when WebP is not supported -->
                <amp-img fallback="" alt="Oak" srcset="{{ 'overlay-poly-1-mobile@1x.jpg' | asset_url }}, {{ 'overlay-poly-1-mobile@2x.jpg' | asset_url }} 2x" layout="responsive" width="1250" height="1845"></amp-img>
              </amp-img>

              <!-- Desktop -->
              <!-- WebP -->
              <amp-img alt="Oak" srcset="{{ 'overlay-poly-1-desktop@1x.webp' | asset_url }}, {{ 'overlay-poly-1-desktop@2x.webp' | asset_url }} 2x" layout="responsive" width="1200" height="1340" media="(min-width: 720px)">
                <!-- Fallback when WebP is not supported -->
                <amp-img fallback="" alt="Oak" srcset="{{ 'overlay-poly-1-desktop@1x.jpg' | asset_url }}, {{ 'overlay-poly-1-desktop@2x.jpg' | asset_url }} 2x" layout="responsive" width="1200" height="1340"></amp-img>
              </amp-img>
          </figure>
        <div class="col-1 flex-none xs-hide sm-hide"></div>
        <div class="lune-overlay-copy relative col-12 md-col-4 z1">
            <h2 class="lune-overlay-copy-title h3 lg-h2 caps mb3" aria-label="Monochrome one piece shell">
                <span class="lune-split-title-mobile lune-split-title-desktop">Mono</span>
                <span class="">-chrome one piece shell</span>
            </h2>
            <h3 class="lune-overlay-copy-subtitle h4 mb2 caps md-hide lg-hide">Materials</h3>
            <p class="mb2">There is something about the design of a molded plastic chair that makes it easy to miss, unobtrusive, humble. Perhaps it’s the unassuming simplicity of its form. Or perhaps it’s the functional, stackable architecture that reminds you it’s built to be one of many – a facsimile of itself and all the others like it. For some reason, as these familiar objects sit in the school assembly halls, dentist’s waiting rooms, and offices we inhabit every day, they find themselves taken for granted.</p>
            <p class="mb2">The reality is that, in 1948, something happened that would change the course of history. With the exhibition of their first molded plastic chair designs at the Museum of Modern Art, Charles and Ray Eames had created, in their words, furniture that gave, “the most of the best to the greatest number of people for the least.”</p>
        </div>

        <div class="col-1 lg-col-2 flex-none xs-hide sm-hide"></div>

      </section>


      <section class="lune-overlay-content relative col-12 mx-auto flex flex-column p2 md-p0 mb4">
        <div class="col-2 lg-col-3 flex-none xs-hide sm-hide"></div>

          <figure class="lune-overlay-content-image relative col-12 md-col-5 flex-none m0">
            <!-- Mobile -->
            <!-- WebP -->
              <amp-img alt="Oak" srcset="{{ 'overlay-poly-2-mobile@1x.webp' | asset_url }}, {{ 'overlay-poly-2-mobile@2x.webp' | asset_url }} 2x" layout="responsive" width="1250" height="1845" media="(max-width: 719px)">
                <!-- Fallback when WebP is not supported -->
                <amp-img fallback="" alt="Oak" srcset="{{ 'overlay-poly-2-mobile@1x.jpg' | asset_url }}, {{ 'overlay-poly-2-mobile@2x.jpg' | asset_url }} 2x" layout="responsive" width="1250" height="1845"></amp-img>
              </amp-img>

              <!-- Desktop -->
              <!-- WebP -->
              <amp-img alt="Oak" srcset="{{ 'overlay-poly-2-desktop@1x.webp' | asset_url }}, {{ 'overlay-poly-2-desktop@2x.webp' | asset_url }} 2x" layout="responsive" width="1200" height="1340" media="(min-width: 720px)">
                <!-- Fallback when WebP is not supported -->
                <amp-img fallback="" alt="Oak" srcset="{{ 'overlay-poly-2-desktop@1x.jpg' | asset_url }}, {{ 'overlay-poly-2-desktop@2x.jpg' | asset_url }} 2x" layout="responsive" width="1200" height="1340"></amp-img>
              </amp-img>
          </figure>

        <div class="lune-overlay-copy relative col-12 md-col-4 lg-col-3 mt2 z1">
            <p class="mb2">The contoured lines of their designs were as comfortable to sit on as they were easy on the eye. And after years of experiments with various other materials including wood and metal, the Eames had found a material, in polypropylene, that was structurally rigid while flexible enough to move with the body of the sitter.</p>
            <p class="mb2">At LUNE, we are proud to be direct descendants of this movement. LUNE Noir and LUNE Blanc are both made using the same process as these iconic pieces of twentieth century design. Moreover we have, where possible, moved the process forward.</p>
            <p class="mb2">While plastic presents an affordable, practical and aesthetically pleasing design solution, and has created a world in which furniture is democratic, open and accessible, it has also contributed to the contamination of the environment around us.</p>
            <p class="mb2">Despite this, it’s testament to the visionary ideas of Charles and Ray Eames in the 1940s that – although the model of production may be changing – the material remains the same.</p>

          <div class="flex justify-center">
  <a href="store" class="ampstart-btn ampstart-btn-secondary relative inline-block overflow-hidden caps h7 center my2 lune-theme-light lune-transparent">
    <span class="relative block z3">Visit us</span>
  </a>
          </div>
        </div>
        <div class="col-1 flex-none xs-hide sm-hide"></div>

      </section>





  </main>