---
slug: gallery
---

{% content_for 'canonical' %}gallery{% endcontent_for %}

<main id="content" class="gallery-base-content fit" role="main">
      <h1 class="gallery-landing-title flex justify-center items-center center absolute top-0 left-0 right-0 z1 mx-auto gallery-base-invert">
        Gallery of Modern&nbsp;Art
      </h1>
      <amp-carousel width="100vw" height="100vh" controls="" class="gallery-landing-wall block relative">
        <div class="gallery-landing-wall-scroll relative">

  <figure class="gallery-landing-image-wrapped gallery-landing-image-wrap">
    <a href="./gallery-inner" class="gallery-landing-image-link"></a>
    <figcaption class="gallery-landing-image-caption gallery-landing-image-caption-bottom gallery-landing-image-caption-extraleft  gallery-landing-image-caption-content">
      <h2 class="h4 regular">Modern Caesar</h2>
      <h3 class="h4 regular" role="author">Sylvia Johnson</h3>
      <a href="./gallery-inner" class="gallery-landing-caption-link inline-block">View Exhibit</a>
    </figcaption>
    <div class="gallery-landing-image-transform">
      <amp-img width="8" height="12" layout="responsive" noloading="" src="{{ 'chair.jpg' | asset_url }}" srcset="
          {{ 'chair.jpg' | asset_url }} 1x,
          {{ 'chair@2x.jpg' | asset_url }} 2x
        " alt="wooden chair"></amp-img>
    </div>
  </figure>
  <figure class="gallery-landing-image-wrapped gallery-landing-image-wrap">
    <a href="./gallery-inner" class="gallery-landing-image-link"></a>
    <figcaption class="gallery-landing-image-caption gallery-landing-image-caption-bottom  gallery-landing-image-caption-content">
      <h2 class="h4 regular">Living Tree</h2>
      <h3 class="h4 regular" role="author">David Beck</h3>
      <a href="./gallery-inner" class="gallery-landing-caption-link inline-block">View Exhibit</a>
    </figcaption>
    <div class="gallery-landing-image-transform">
      <amp-img width="8" height="12" layout="responsive" noloading="" src="{{ 'orange.jpg' | asset_url }}" srcset="
          {{ 'orange.jpg' | asset_url }} 1x,
          {{ 'orange@2x.jpg' | asset_url }} 2x
        " alt="orange painted blue"></amp-img>
    </div>
  </figure>
  <figure class="gallery-landing-image-wrapped gallery-landing-image-wrap">
    <a href="./gallery-inner" class="gallery-landing-image-link"></a>
    <figcaption class="gallery-landing-image-caption gallery-landing-image-caption-right gallery-landing-image-caption-bottom  gallery-landing-image-caption-content">
      <h2 class="h4 regular">Flower Still Life</h2>
      <h3 class="h4 regular" role="author">Brad Parker</h3>
      <a href="./gallery-inner" class="gallery-landing-caption-link inline-block">View Exhibit</a>
    </figcaption>
    <div class="gallery-landing-image-transform">
      <amp-img width="51" height="31" layout="responsive" noloading="" src="{{ 'plant.jpg' | asset_url }}" srcset="
          {{ 'plant.jpg' | asset_url }} 1x,
          {{ 'plant@2x.jpg' | asset_url }} 2x
        " alt="house plant on a chair"></amp-img>
    </div>
  </figure>
  <figure class="gallery-landing-image-wrapped gallery-landing-image-wrap">
    <a href="./gallery-inner" class="gallery-landing-image-link"></a>
    <figcaption class="gallery-landing-image-caption gallery-landing-image-caption-bottom  gallery-landing-image-caption-content">
      <h2 class="h4 regular">The Way Out</h2>
      <h3 class="h4 regular" role="author">Janet Lande</h3>
      <a href="./gallery-inner" class="gallery-landing-caption-link inline-block">View Exhibit</a>
    </figcaption>
    <div class="gallery-landing-image-transform">
      <amp-img width="1" height="1" layout="responsive" noloading="" src="{{ 'hall.jpg' | asset_url }}" srcset="
          {{ 'hall.jpg' | asset_url }} 1x,
          {{ 'hall@2x.jpg' | asset_url }} 2x
        " alt="colourful hallway"></amp-img>
    </div>
  </figure>
  <figure class="gallery-landing-image-wrapped gallery-landing-image-wrap">
    <a href="./gallery-inner" class="gallery-landing-image-link"></a>
    <figcaption class="gallery-landing-image-caption  gallery-landing-image-caption-content">
      <h2 class="h4 regular">Short Circuit</h2>
      <h3 class="h4 regular" role="author">Anna Moss</h3>
      <a href="./gallery-inner" class="gallery-landing-caption-link inline-block">View Exhibit</a>
    </figcaption>
    <div class="gallery-landing-image-transform">
      <amp-img width="8" height="12" layout="responsive" noloading="" src="{{ 'lamp.jpg' | asset_url }}" srcset="
          {{ 'lamp.jpg' | asset_url }} 1x,
          {{ 'lamp@2x.jpg' | asset_url }} 2x
        " alt="pink outdoor lamp"></amp-img>
    </div>
  </figure>
  <figure class="gallery-landing-image-wrapped gallery-landing-image-wrap">
    <a href="./gallery-inner" class="gallery-landing-image-link"></a>
    <figcaption class="gallery-landing-image-caption gallery-landing-image-caption-extraleft  gallery-landing-image-caption-content">
      <h2 class="h4 regular">Untitled</h2>
      <h3 class="h4 regular" role="author">Evan Ondre</h3>
      <a href="./gallery-inner" class="gallery-landing-caption-link inline-block">View Exhibit</a>
    </figcaption>
    <div class="gallery-landing-image-transform">
      <amp-img width="12" height="8" layout="responsive" noloading="" src="{{ 'smoke.jpg' | asset_url }}" srcset="
          {{ 'smoke.jpg' | asset_url }} 1x,
          {{ 'smoke@2x.jpg' | asset_url }} 2x
        " alt="pink smoke"></amp-img>
    </div>
  </figure>
  <figure class="gallery-landing-image-wrapped gallery-landing-image-wrap">
    <a href="./gallery-inner" class="gallery-landing-image-link"></a>
    <figcaption class="gallery-landing-image-caption  gallery-landing-image-caption-content">
      <h2 class="h4 regular">Spiraling Industry</h2>
      <h3 class="h4 regular" role="author">David Alders</h3>
      <a href="./gallery-inner" class="gallery-landing-caption-link inline-block">View Exhibit</a>
    </figcaption>
    <div class="gallery-landing-image-transform">
      <amp-img width="12" height="8" layout="responsive" noloading="" src="{{ 'spiral.jpg' | asset_url }}" srcset="
          {{ 'spiral.jpg' | asset_url }} 1x,
          {{ 'spiral@2x.jpg' | asset_url }} 2x
        " alt="spiraling staircase"></amp-img>
    </div>
  </figure>
  <figure class="gallery-landing-image-wrapped gallery-landing-image-wrap">
    <a href="./gallery-inner" class="gallery-landing-image-link"></a>
    <figcaption class="gallery-landing-image-caption  gallery-landing-image-caption-content">
      <h2 class="h4 regular">Palm Tree Dreams</h2>
      <h3 class="h4 regular" role="author">Janet Lande</h3>
      <a href="./gallery-inner" class="gallery-landing-caption-link inline-block">View Exhibit</a>
    </figcaption>
    <div class="gallery-landing-image-transform">
      <amp-img width="8" height="12" layout="responsive" noloading="" src="{{ 'stairs.jpg' | asset_url }}" srcset="
          {{ 'stairs.jpg' | asset_url }} 1x,
          {{ 'stairs@2x.jpg' | asset_url }} 2x
        " alt="pink residential building with outdoor staircase"></amp-img>
    </div>
  </figure>
  <figure class="gallery-landing-image-wrapped gallery-landing-image-wrap">
    <a href="./gallery-inner" class="gallery-landing-image-link"></a>
    <figcaption class="gallery-landing-image-caption gallery-landing-image-caption-bottom  gallery-landing-image-caption-content">
      <h2 class="h4 regular">No Name</h2>
      <h3 class="h4 regular" role="author">Tan Howell</h3>
      <a href="./gallery-inner" class="gallery-landing-caption-link inline-block">View Exhibit</a>
    </figcaption>
    <div class="gallery-landing-image-transform">
      <amp-img width="8" height="12" layout="responsive" noloading="" src="{{ 'spectrum.jpg' | asset_url }}" srcset="
          {{ 'spectrum.jpg' | asset_url }} 1x,
          {{ 'spectrum@2x.jpg' | asset_url }} 2x
        " alt="striped colours"></amp-img>
    </div>
  </figure>
  <figure class="gallery-landing-image-wrapped gallery-landing-image-wrap">
    <a href="./gallery-inner" class="gallery-landing-image-link"></a>
    <figcaption class="gallery-landing-image-caption gallery-landing-image-caption-bottom gallery-landing-image-caption-right  gallery-landing-image-caption-content">
      <h2 class="h4 regular">Flora and Illuminations</h2>
      <h3 class="h4 regular" role="author">Steven Rice</h3>
      <a href="./gallery-inner" class="gallery-landing-caption-link inline-block">View Exhibit</a>
    </figcaption>
    <div class="gallery-landing-image-transform">
      <amp-img width="12" height="8" layout="responsive" noloading="" src="{{ 'cactus.jpg' | asset_url }}" srcset="
          {{ 'cactus.jpg' | asset_url }} 1x,
          {{ 'cactus@2x.jpg' | asset_url }} 2x
        " alt="pink cactus"></amp-img>
    </div>
  </figure>
  <figure class="gallery-landing-image-wrapped gallery-landing-image-wrap">
    <a href="./gallery-inner" class="gallery-landing-image-link"></a>
    <figcaption class="gallery-landing-image-caption gallery-landing-image-caption-bottom  gallery-landing-image-caption-content">
      <h2 class="h4 regular">Fluid Architecture</h2>
      <h3 class="h4 regular" role="author">Steven Rice</h3>
      <a href="./gallery-inner" class="gallery-landing-caption-link inline-block">View Exhibit</a>
    </figcaption>
    <div class="gallery-landing-image-transform">
      <amp-img width="8" height="12" layout="responsive" noloading="" src="{{ 'corner.jpg' | asset_url }}" srcset="
          {{ 'corner.jpg' | asset_url }} 1x,
          {{ 'corner@2x.jpg' | asset_url }} 2x
        " alt="corner of white building&#39;s exterior"></amp-img>
    </div>
  </figure>
  <figure class="gallery-landing-image-wrapped gallery-landing-image-wrap">
    <a href="./gallery-inner" class="gallery-landing-image-link"></a>
    <figcaption class="gallery-landing-image-caption  gallery-landing-image-caption-content">
      <h2 class="h4 regular">Upward Perspective</h2>
      <h3 class="h4 regular" role="author">Momo Reid</h3>
      <a href="./gallery-inner" class="gallery-landing-caption-link inline-block">View Exhibit</a>
    </figcaption>
    <div class="gallery-landing-image-transform">
      <amp-img width="1" height="1" layout="responsive" noloading="" src="{{ 'building.jpg' | asset_url }}" srcset="
          {{ 'building.jpg' | asset_url }} 1x,
          {{ 'building@2x.jpg' | asset_url }} 2x
        " alt="black and white building"></amp-img>
    </div>
  </figure>
  <figure class="gallery-landing-image-wrapped gallery-landing-image-wrap">
    <a href="./gallery-inner" class="gallery-landing-image-link"></a>
    <figcaption class="gallery-landing-image-caption gallery-landing-image-caption-bottom gallery-landing-image-caption-extraleft  gallery-landing-image-caption-content">
      <h2 class="h4 regular">Untitled</h2>
      <h3 class="h4 regular" role="author">Von West</h3>
      <a href="./gallery-inner" class="gallery-landing-caption-link inline-block">View Exhibit</a>
    </figcaption>
    <div class="gallery-landing-image-transform">
      <amp-img width="8" height="12" layout="responsive" noloading="" src="{{ 'skyline.jpg' | asset_url }}" srcset="
          {{ 'skyline.jpg' | asset_url }} 1x,
          {{ 'skyline@2x.jpg' | asset_url }} 2x
        " alt="sunset showing a skyline"></amp-img>
    </div>
  </figure>
  <figure class="gallery-landing-image-wrapped gallery-landing-image-wrap">
    <a href="./gallery-inner" class="gallery-landing-image-link"></a>
    <figcaption class="gallery-landing-image-caption gallery-landing-image-caption-bottom gallery-landing-image-caption-right  gallery-landing-image-caption-content">
      <h2 class="h4 regular">Geo Breakfast</h2>
      <h3 class="h4 regular" role="author">Terra Morales</h3>
      <a href="./gallery-inner" class="gallery-landing-caption-link inline-block">View Exhibit</a>
    </figcaption>
    <div class="gallery-landing-image-transform">
      <amp-img width="1" height="1" layout="responsive" noloading="" src="{{ 'balloon.jpg' | asset_url }}" srcset="
          {{ 'balloon.jpg' | asset_url }} 1x,
          {{ 'balloon@2x.jpg' | asset_url }} 2x
        " alt="colourful hot air balloon paneling"></amp-img>
    </div>
  </figure>
  <figure class="gallery-landing-image-wrapped gallery-landing-image-wrap">
    <a href="./gallery-inner" class="gallery-landing-image-link"></a>
    <figcaption class="gallery-landing-image-caption  gallery-landing-image-caption-content">
      <h2 class="h4 regular">Alternative Reality</h2>
      <h3 class="h4 regular" role="author">Nathaniel Hall</h3>
      <a href="./gallery-inner" class="gallery-landing-caption-link inline-block">View Exhibit</a>
    </figcaption>
    <div class="gallery-landing-image-transform">
      <amp-img width="8" height="12" layout="responsive" noloading="" src="{{ 'lake.jpg' | asset_url }}" srcset="
          {{ 'lake.jpg' | asset_url }} 1x,
          {{ 'lake@2x.jpg' | asset_url }} 2x
        " alt="sunrise against a pink lake"></amp-img>
    </div>
  </figure>
  <figure class="gallery-landing-image-wrapped gallery-landing-image-wrap">
    <a href="./gallery-inner" class="gallery-landing-image-link"></a>
    <figcaption class="gallery-landing-image-caption  gallery-landing-image-caption-content">
      <h2 class="h4 regular">Cage</h2>
      <h3 class="h4 regular" role="author">Ellen Doe</h3>
      <a href="./gallery-inner" class="gallery-landing-caption-link inline-block">View Exhibit</a>
    </figcaption>
    <div class="gallery-landing-image-transform">
      <amp-img width="8" height="12" layout="responsive" noloading="" src="{{ 'court.jpg' | asset_url }}" srcset="
          {{ 'court.jpg' | asset_url }} 1x,
          {{ 'court@2x.jpg' | asset_url }} 2x
        " alt="basketball court"></amp-img>
    </div>
  </figure>
  <figure class="gallery-landing-image-wrapped gallery-landing-image-wrap">
    <a href="./gallery-inner" class="gallery-landing-image-link"></a>
    <figcaption class="gallery-landing-image-caption gallery-landing-image-caption-bottom gallery-landing-image-caption-right  gallery-landing-image-caption-content">
      <h2 class="h4 regular">Swimming in Neon</h2>
      <h3 class="h4 regular" role="author">Kay Herrera</h3>
      <a href="./gallery-inner" class="gallery-landing-caption-link inline-block">View Exhibit</a>
    </figcaption>
    <div class="gallery-landing-image-transform">
      <amp-img width="12" height="8" layout="responsive" noloading="" src="{{ 'jellyfish.jpg' | asset_url }}" srcset="
          {{ 'jellyfish.jpg' | asset_url }} 1x,
          {{ 'jellyfish@2x.jpg' | asset_url }} 2x
        " alt="pink jellyfish in a purple ocean"></amp-img>
    </div>
  </figure>
  <figure class="gallery-landing-image-wrapped gallery-landing-image-wrap">
    <a href="./gallery-inner" class="gallery-landing-image-link"></a>
    <figcaption class="gallery-landing-image-caption gallery-landing-image-caption-bottom gallery-landing-image-caption-extraleft  gallery-landing-image-caption-content">
      <h2 class="h4 regular">Untitled</h2>
      <h3 class="h4 regular" role="author">Ian Jimenez</h3>
      <a href="./gallery-inner" class="gallery-landing-caption-link inline-block">View Exhibit</a>
    </figcaption>
    <div class="gallery-landing-image-transform">
      <amp-img width="8" height="12" layout="responsive" noloading="" src="{{ 'stripe.jpg' | asset_url }}" srcset="
          {{ 'stripe.jpg' | asset_url }} 1x,
          {{ 'stripe@2x.jpg' | asset_url }} 2x
        " alt="black and white striped pattern"></amp-img>
    </div>
  </figure>
        </div>
      </amp-carousel>
    </main>