---
slug: product-material-oak-noir
cache_for: 1800
---

{% content_for 'canonical' %}product-material-oak-noir{% endcontent_for %}


  <main role="main" class="lune-overlay">
      <header class="lune-overlay-hero relative flex items-center justify-center overflow-hidden mx2 mt2 sm-m0">

          <figure class="lune-overlay-hero-image absolute left-0 m0 col-12">

              <!-- Mobile -->
              <!-- WebP -->
              <amp-img alt="Natural Oak" srcset="{{ 'overlay-oak-hero-mobile@1x.webp' | asset_url }}, {{ 'overlay-oak-hero-mobile@2x.webp' | asset_url }} 2x" layout="responsive" width="1250" height="2135" media="(max-width: 719px)">
                <!-- Fallback when WebP is not supported -->
                <amp-img fallback="" alt="Natural Oak" srcset="{{ 'overlay-oak-hero-mobile@1x.jpg' | asset_url }}, {{ 'overlay-oak-hero-mobile@2x.jpg' | asset_url }} 2x" layout="responsive" width="1250" height="2135"></amp-img>
              </amp-img>

              <!-- Desktop -->
              <!-- WebP -->
              <amp-img alt="Natural Oak" srcset="{{ 'overlay-oak-hero@1x.webp' | asset_url }}, {{ 'overlay-oak-hero@2x.webp' | asset_url }} 2x" layout="responsive" width="2000" height="1800" media="(min-width: 720px)">
                <!-- Fallback when WebP is not supported -->
                <amp-img fallback="" alt="Natural Oak" srcset="{{ 'overlay-oak-hero@1x.png' | asset_url }}, {{ 'overlay-oak-hero@2x.png' | asset_url }} 2x" layout="responsive" width="2000" height="1800"></amp-img>
              </amp-img>
          </figure>

        <div class="relative z1 center">
          <h1 class="lune-overlay-hero-title h3 md-h0 mb4 mx-auto col-10 caps lune-anim-move-up">Natural Oak</h1>

          <!-- Meet the makers CTA -->
  <a href="#" class="ampstart-btn ampstart-btn-secondary relative inline-block overflow-hidden caps h7 center lune-anim-move-up lune-theme-light lune-transparent">
    <span class="relative block z3">Meet the makers</span>
  </a>
        </div>
      </header>

      <section class="lune-overlay-content relative col-12 mx-auto flex flex-column p2 md-p0">
        <div class="col-1 flex-none xs-hide sm-hide"></div>
          <figure class="relative col-12 md-col-5 flex-none m0">
              <!-- Mobile -->
              <!-- WebP -->
              <amp-img alt="Oak" srcset="{{ 'overlay-oak-1-mobile@1x.webp' | asset_url }}, {{ 'overlay-oak-1-mobile@2x.webp' | asset_url }} 2x" layout="responsive" width="1250" height="1845" media="(max-width: 719px)">
                <!-- Fallback when WebP is not supported -->
                <amp-img fallback="" alt="Oak" srcset="{{ 'overlay-oak-1-mobile@1x.jpg' | asset_url }}, {{ 'overlay-oak-1-mobile@2x.jpg' | asset_url }} 2x" layout="responsive" width="1250" height="1845"></amp-img>
              </amp-img>

              <!-- Desktop -->
              <!-- WebP -->
              <amp-img alt="Oak" srcset="{{ 'overlay-oak-1-desktop@1x.webp' | asset_url }}, {{ 'overlay-oak-1-desktop@2x.webp' | asset_url }} 2x" layout="responsive" width="1200" height="1340" media="(min-width: 720px)">
                <!-- Fallback when WebP is not supported -->
                <amp-img fallback="" alt="Oak" srcset="{{ 'overlay-oak-1-desktop@1x.jpg' | asset_url }}, {{ 'overlay-oak-1-desktop@2x.jpg' | asset_url }} 2x" layout="responsive" width="1200" height="1340"></amp-img>
              </amp-img>
          </figure>
        <div class="col-1 flex-none xs-hide sm-hide"></div>
        <div class="lune-overlay-copy relative col-12 md-col-4 z1">
            <h2 class="lune-overlay-copy-title h3 lg-h2 caps mb3" aria-label="Sustainably-grown Portugese natural oak">
                <span class="lune-split-title-mobile lune-split-title-desktop">Sustain</span>
                <span class="">ably-grown Portuguese natural oak</span>
            </h2>
            <h3 class="lune-overlay-copy-subtitle h4 mb2 caps md-hide lg-hide">Materials</h3>
            <p class="mb2">Although it truly came to prominence in twentieth century design, it was in 1874 that molded plywood was first used as a furniture design material. Pioneered by an Austrian cabinet maker named Michael Thonet, the ability to bend wood neatly bypassed the need to saw multiple pieces and join them together – which is slower, more labour-intensive, and arguably produces a more cluttered result.</p>
            <p class="mb2">To understand why bent plywood was such an important material, it’s first useful to look at what plywood actually is. Simply put, plywood is a sandwich of three or more thin layers of wood, each with their grain at right angles to the one beneath, all of which are then laminated together with glue. This perpendicular, multi-layer alignment makes plywood exceedingly strong and resistant, while at the same time making it possible for the material to be bent into new shapes.</p>
        </div>

        <div class="col-1 lg-col-2 flex-none xs-hide sm-hide"></div>

      </section>


      <section class="lune-overlay-content relative col-12 mx-auto flex flex-column p2 md-p0 mb4">
        <div class="col-2 lg-col-3 flex-none xs-hide sm-hide"></div>

          <figure class="lune-overlay-content-image relative col-12 md-col-5 flex-none m0">
            <!-- Mobile -->
            <!-- WebP -->
              <amp-img alt="Oak" srcset="{{ 'overlay-oak-2-mobile@1x.webp' | asset_url }}, {{ 'overlay-oak-2-mobile@2x.webp' | asset_url }} 2x" layout="responsive" width="1250" height="1845" media="(max-width: 719px)">
                <!-- Fallback when WebP is not supported -->
                <amp-img fallback="" alt="Oak" srcset="{{ 'overlay-oak-2-mobile@1x.jpg' | asset_url }}, {{ 'overlay-oak-2-mobile@2x.jpg' | asset_url }} 2x" layout="responsive" width="1250" height="1845"></amp-img>
              </amp-img>

              <!-- Desktop -->
              <!-- WebP -->
              <amp-img alt="Oak" srcset="{{ 'overlay-oak-2-desktop@1x.webp' | asset_url }}, {{ 'overlay-oak-2-desktop@2x.webp' | asset_url }} 2x" layout="responsive" width="1200" height="1340" media="(min-width: 720px)">
                <!-- Fallback when WebP is not supported -->
                <amp-img fallback="" alt="Oak" srcset="{{ 'overlay-oak-2-desktop@1x.jpg' | asset_url }}, {{ 'overlay-oak-2-desktop@2x.jpg' | asset_url }} 2x" layout="responsive" width="1200" height="1340"></amp-img>
              </amp-img>
          </figure>

        <div class="lune-overlay-copy relative col-12 md-col-4 lg-col-3 mt2 z1">
            <p class="mb2">Michael Thonet both pioneered this technique, and used it to create simple, graceful furniture designs that belied their extreme structural strength – including his iconic 1859 coffee shop chair no. 14, which is still called the ‘chair of chairs’ today.</p>
            <p class="mb2">Using his ideas, a designer named Alvar Aalto went on to create a series of iconic pieces throughout the 1930s. The most famous of these, the Paimio Chair, is a symphony of flowing curves that are only made possible by the flexibility of the plywood in its construction. Another simpler, more functional piece – his Stool 60 – became the standard for stackable, beautiful mid-century furniture. The single bend in each of its legs deftly proves the technique’s advantage over traditional design techniques, which would have required two separate pieces to be sawed and then joined together.</p>
            <p class="mb2">At LUNE, we are proud to continue the use of this most ingenious of materials. Our LUNE Blanc and LUNE Noir chairs both sit atop a base made from molded Portuguese Oak – and while the technique and wood might not be identical to the plywood process pioneered by Michael Thonet, one thing is certain – our work would not have been possible without his.</p>

          <div class="flex justify-center">
  <a href="store" class="ampstart-btn ampstart-btn-secondary relative inline-block overflow-hidden caps h7 center my2 lune-theme-light lune-transparent">
    <span class="relative block z3">Visit us</span>
  </a>
          </div>
        </div>
        <div class="col-1 flex-none xs-hide sm-hide"></div>

      </section>





  </main>
